# Personal aliases and exports

alias ls='ls --color=auto'
alias la='ls -a'
alias ll='ls -la'
alias l='ls'
alias less='less -R'
alias grep='grep --color=auto'
alias free="free -mt"
alias df='df -h'
alias wget="wget -c"
alias userlist="cut -d: -f1 /etc/passwd"
alias pacman='sudo pacman --color auto'
alias update-grub="sudo grub-mkconfig -o /boot/grub/grub.cfg"

# #pacman unlock
alias pacmanunlock="sudo rm /var/lib/pacman/db.lck"

# #add new fonts
alias update-fc='sudo fc-cache -fv'

# Check what package owns a file
alias whoowns='pacman -Qo'

# #hardware info --short
alias hw="hwinfo --short"

# #skip integrity check
alias yayskip='yay -S --mflags --skipinteg'

# #check vulnerabilities microcode
alias microcode='grep . /sys/devices/system/cpu/vulnerabilities/*'

# #get fastest mirrors in your neighborhood
alias mirror="sudo reflector --age 6 --latest 20  --fastest 20 --threads 5 --sort rate --protocol https --save /etc/pacman.d/mirrorlist"


# #youtube download
export YTDL="yt-dlp"
alias yt-aac="$YTDL --extract-audio --audio-format aac "
alias yt-best="$YTDL --extract-audio --audio-format best "
alias yt-flac="$YTDL --extract-audio --audio-format flac "
alias yt-mp3="$YTDL --extract-audio --audio-format mp3 "
alias yt-best="$YTDL -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/bestvideo+bestaudio' --merge-output-format mp4 "

# #Recent Installed Packages
alias rip="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -3000 | nl | less +G"

# # #iso and version used to install ArcoLinux
alias iso="cat /etc/dev-rel | awk -F '=' '/ISO/ {print $2}'"

# # #Cleanup orphaned packages
alias cleanup='sudo pacman -Rns (pacman -Qtdq)'

# # #get the error messages from journalctl
alias jctl="journalctl -p 3 -xb"

# #nano for important configuration files
# #know what you do in these files
alias npacman="sudo $EDITOR /etc/pacman.conf"
alias ngrub="sudo $EDITOR /etc/default/grub"
alias nconfgrub="sudo $EDITOR /boot/grub/grub.cfg"
alias nmkinitcpio="sudo $EDITOR /etc/mkinitcpio.conf"
alias nmirrorlist="sudo $EDITOR /etc/pacman.d/mirrorlist"
alias narcomirrorlist='sudo nano /etc/pacman.d/arcolinux-mirrorlist'
alias nsddm="sudo $EDITOR /etc/sddm.conf"
alias nsddmk="sudo $EDITOR /etc/sddm.conf.d/kde_settings.conf"
alias nfstab="sudo $EDITOR /etc/fstab"
alias nnsswitch="sudo $EDITOR /etc/nsswitch.conf"
alias nsamba="sudo $EDITOR /etc/samba/smb.conf"
alias ngnupgconf="sudo nano /etc/pacman.d/gnupg/gpg.conf"

# #gpg
# #verify signature for isos
alias gpg-check="gpg2 --keyserver-options auto-key-retrieve --verify"
alias fix-gpg-check="gpg2 --keyserver-options auto-key-retrieve --verify"
# #receive the key of a developer
alias gpg-retrieve="gpg2 --keyserver-options auto-key-retrieve --receive-keys"
alias fix-gpg-retrieve="gpg2 --keyserver-options auto-key-retrieve --receive-keys"
alias fix-keyserver="[ -d ~/.gnupg ] || mkdir ~/.gnupg ; cp /etc/pacman.d/gnupg/gpg.conf ~/.gnupg/ ; echo 'done'"

# #fixes
alias fix-permissions="sudo chown -R $USER:$USER ~/.config ~/.local"
alias keyfix="/usr/local/bin/arcolinux-fix-pacman-databases-and-keys"
alias key-fix="/usr/local/bin/arcolinux-fix-pacman-databases-and-keys"
alias keys-fix="/usr/local/bin/arcolinux-fix-pacman-databases-and-keys"
alias fixkey="/usr/local/bin/arcolinux-fix-pacman-databases-and-keys"
alias fixkeys="/usr/local/bin/arcolinux-fix-pacman-databases-and-keys"
alias fix-key="/usr/local/bin/arcolinux-fix-pacman-databases-and-keys"
alias fix-keys="/usr/local/bin/arcolinux-fix-pacman-databases-and-keys"
alias fix-sddm-config="/usr/local/bin/arcolinux-fix-sddm-config"
alias fix-pacman-conf="/usr/local/bin/arcolinux-fix-pacman-conf"
alias fix-pacman-keyserver="/usr/local/bin/arcolinux-fix-pacman-gpg-conf"

# #maintenance

# List and size of all installed packages
alias big="expac -H M '%m\t%n' | sort -h | nl"
alias downgrada="sudo downgrade --ala-url https://ant.seedhost.eu/arcolinux/"

# #hblock (stop tracking with hblock)
# #use unhblock to stop using hblock
alias unhblock="hblock -S none -D none"

# #systeminfo
alias probe="sudo -E hw-probe -all -upload"
alias sysfailed="systemctl list-units --failed"

# #remove
alias rmgitcache="rm -r ~/.cache/git"