[credential]
helper = store
help = cache
[user]
name = Fernando Nogueira
email = abert036@uottawa.ca
signingkey = 1847AE3AACBCA4A9
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[core]
excludesFile = /home/fer/.config/gitignore
autocrlf = input
[merge]
conflictstyle = diff3
[alias]
logs = log --oneline
last = log -1 HEAD --stat
configs = config --global -l
up = "!git remote update -p; git merge --ff-only @{u}"
staged = diff --cached --name-only
changes = diff --cached --name-only --diff-filter=ACMRTUXB
ui = "!f() { cd \"$(git rev-parse --show-toplevel)\" && gitui; }; f"
kraken = "!f() { cd \"$(git rev-parse --show-toplevel)\" && gitkraken & disown; }; f"
# Update current branch with remote master
upm = "!f() { git up && git merge origin/master; }; f"
[help]
autocorrect = 100
[pull]
ff = no
[commit]
gpgsign = true
